* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
}

nav {
    background: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}

nav ul {
    list-style-type: none;
}

nav .nav-left a {
    display: block;
    width: 180px;
    height: 40px;
    color: white;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

nav .nav-right a {
    display: block;
    width: 100px;
    color: white;
    background: rgb(0,129,255);
    background: linear-gradient(0deg, rgba(0,129,255,1) 0%, rgba(0,159,255,1) 100%);
    text-decoration: none;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
}



nav .nav-right a:hover {
    background: rgb(0,129,255);
    background: linear-gradient(0deg, rgba(0,129,255,1) 0%, rgba(0,138,221,1) 100%);
}

nav .nav-left a:hover {
    border-bottom-style: solid;
    border-bottom-color: yellow;
}

.nav-left ul li {
    float: left;
}



.nav-left a.active {
    border-bottom-style: solid;
    border-bottom-color: greenyellow;
}

